@model SALD.Models.Nivel

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Está seguro que desea eliminar este registro?</h3>
<div>
    <h4>Nivel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RangoEdad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RangoEdad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantAlumnos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantAlumnos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a lista", "Index")
        </div>
    }
</div>
