@model SALD.Models.Nivel

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Nivel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RangoEdad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RangoEdad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantAlumnos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantAlumnos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Lista", "Index")
</p>
<div>
    <form>
        <input type="button" class="btn btn-success" value="Imprimir" onClick="window.print()">
    </form>
</div>