@model SALD.Models.Nivel

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Nivel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RangoEdad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RangoEdad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantAlumnos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantAlumnos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Volver a lista", "Index")
</p>
