@model IEnumerable<SALD.Models.Nivel>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista de Niveles</h2>

<p>
    <input type="button" class="btn btn-info" value="Crear nuevo" onclick="location.href='@Url.Action("Create", "Nivel")'" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RangoEdad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantAlumnos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Periodo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RangoEdad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantAlumnos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Periodo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
