@model SALD.Models.Bitacora

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Está seguro que desea eliminar este registro?</h3>
<div>
    <h4>Bitacora</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Planificacion.Encargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Planificacion.Encargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanificacionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanificacionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Novedades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Novedades)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Lista", "Index")
        </div>
    }
</div>
