@model SALD.Models.Bitacora

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Bitacora</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Planificacion.Encargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Planificacion.Encargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sala.NivelID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sala.NivelID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Novedades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Novedades)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Lista", "Index")
</p>
<div>
    <form>
        <input type="button" class="btn btn-success" value="Imprimir" onClick="window.print()">
    </form>
</div>