@model IEnumerable<SALD.Models.Sala>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista de Salas</h2>

<p>
    <input type="button" class="btn btn-info" value="Crear nuevo" onclick="location.href='@Url.Action("Create", "Sala")'" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nivel.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Educ)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nivel.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Educ)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
<div>
    <form>
        <input type="button" class="btn btn-success" value="Imprimir" onClick="window.print()">
    </form>
</div>