@model IEnumerable<SALD.Models.Alumno>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista de Alumnos</h2>

<p>
    <input type="button" class="btn btn-info" value="Crear nuevo" onclick="location.href='@Url.Action("Create", "Alumno")'" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nivel.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNAc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HojaVida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdultoID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nivel.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNAc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HojaVida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdultoID)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Detalle", "Details", new { id = item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
<div>
    <form>
        <input type="button" class="btn btn-success" value="Imprimir" onClick="window.print()">
    </form>
</div>
